# 3. Basic Pandas

## 3.1 Pandas Series

In [25]:
import pandas as pd
import numpy as np

a = pd.Series([1,2,3,4,5], index =['a','b','c','d','e'])

In [26]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

## 3.2 Pandas DataFrame

### 3.2.1 Creating DataFrame

In [27]:
### Inputing Data
a = np.array([1,2,3])
b = np.array([4,5,6])
c = np.array([7,8,9])

In [28]:
#Data Frame
import pandas as pd
df = pd.DataFrame(data = (a,b,c))

In [29]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [30]:
#Adding Index
df = pd.DataFrame(data = (a,b,c), index = [6,6,6])

In [31]:
df

   0  1  2
6  1  2  3
6  4  5  6
6  7  8  9

Adding Columns

In [32]:
#Adding Columns
df = pd.DataFrame(data = (a,b,c), index=[1,2,3], columns=["a","b","c"])

In [33]:
df

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

### 3.2.2 Reading Files

In [34]:
df = pd.read_csv("https://raw.githubusercontent.com/henseljahja/learn-ml/main/Dataset/iris.csv")

In [35]:
# Function 'display' is more suitable for printing lines in notebook that Function 'print'

display(df)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

You can also read more types of file, just refer to the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) for more

### 3.2.3 Pandas Dataframe Attributes

In [77]:
df = pd.DataFrame(
  {
  "a" : [1,2,3,4,5],
  "b" : [6,7,8,9,10],
  "c" : [11,12,13,14,15],
  "d" : [16,17,18,19,20]}, index = [1,2,3,4,5])

In [78]:
#Acceses rows/columns purely by integer value
# Indexing just rows
df.iloc[1]

a     2
b     7
c    12
d    17
Name: 2, dtype: int64

In [79]:
#locate the rows index 0 till 3
df.iloc[:3]

   a  b   c   d
1  1  6  11  16
2  2  7  12  17
3  3  8  13  18

In [80]:
#Indexing both axes

#locate rows 0, and columns 1
df.iloc[0, 1]

6

In [89]:
#Also can locate multiple values

#locate rows where c is less than 13
df.loc[df.c < 13]

   a  b   c   d
1  1  6  11  16
2  2  7  12  17

In [90]:
#searching for specific  columns and the value of it

#Search for c value that equal 11
df.loc[df.c == 11]

   a  b   c   d
1  1  6  11  16

In [91]:
# return the shape of dataframe
#150 rows, and 5 columns
df.shape

(5, 4)

In [93]:
#you can also specify based on the columns
df.c.shape

(5,)

In [94]:
#Return numpy representation the dataframe
#its usefull if the value needed to be passed to another function 
df.values

array([[ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19],
       [ 5, 10, 15, 20]])

### 3.2.4 DataFrame Method

In [95]:
#Return the absolute value of each element
df.a.abs()

1    1
2    2
3    3
4    4
5    5
Name: a, dtype: int64

In [98]:
#Adding 
df.add(c,axis=0)

    a   b   c   d
1  22  27  32  37
2  24  29  34  39
3  26  31  36  41
4  28  33  38  43
5  30  35  40  45